/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}



.quote-background {
    background-color: rgb(167, 172, 177); /* Gray background for the whole page */
    height: 100vh; /* Full height */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.quote-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.quote-box {
    max-width: 600px;
}
.quote-text {
    font-size: 24px;
    line-height: 1.6;
}
.quote-author {
    font-size: 20px;
    margin-top: 20px;
}

.save-button {
    background-color: #3a533c; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(101, 134, 166, 0.2); /* Add shadow for some depth */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.save-button:hover {
    background-color: #6e8a6b4e; 
}