{% extends "layout.html" %}

{% block title %}
    Generated
{% endblock %}

{% block main %}
<div class="quote-background">
    <div class="quote-box">
        <p class="quote-text">{{ quote_text }}</p>
        <p class="quote-author">- {{ quote_author }}</p>
        <div class="button-group">
            <a href="/generate" class="button button-new">New Quote</a>
            <form action="/save" method="post">
                <input type="hidden" name="quote_text" value="{{ quote_text }}">
                <input type="hidden" name="quote_author" value="{{ quote_author }}">
                <button type="submit" class="button">Save Quote</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}