<script src="/static/script.js"></script>
{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block main %}
    <div class="quotes-table-container">
        <table class="quotes-table">
            <thead>
                <tr>
                    <th>Quote</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                <tr>
                    <td>{{ quote[0] }}</td>
                    <td>{{ quote[1] }}</td>
                    
                    <td>
                        <a href="{{ url_for('delete_quote', quote_text=quote[0]) }}" class="btn btn-1">
                            <img src="/static/delete.png" alt="Delete">
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
